
@model ProductVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">@(Model.Product.Id!=0?"Update":"Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <input asp-for="Product.ImageUrl" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3 mt-4">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="mb-3 row">
                            <label>Product Title</label>
                            <input asp-for="Product.Title" type="text" class="form-control" />
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label>Description</label>
                            <textarea asp-for="Product.Description" type="text" class="form-control"></textarea>

                        </div>
                        <div class="mb-3 row">
                            <label>ISBN</label>
                            <input asp-for="Product.ISBN" type="text" class="form-control" />
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label>Manufacturer</label>
                            <input asp-for="Product.Manufacturer" type="text" class="form-control" />
                            <span asp-validation-for="Product.Manufacturer" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label>List Price</label>
                            <input asp-for="Product.ListPrice" type="text" class="form-control" />
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label>Price</label>
                            <input asp-for="Product.Price" type="text" class="form-control" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label>Price100</label>
                            <input asp-for="Product.Price100" type="text" class="form-control" />
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label>CategoryId</label>
                            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" type="text" class="form-select">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label>Price50</label>
                            <input asp-for="Product.Price50" type="text" class="form-control" />
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.ImageUrl">Image Url</label>
                            <input type="file" name="file" class="form-control" asp-for="Product.ImageUrl" />
                            <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-3">
                                @if (Model.Product.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control" style="width:150px">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control" style="width:150px">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control" style="width:150px">
                                    Back To List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>
            
        </form>
    </div>
</div>



@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
